.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/
.env.local
android/.gradle/
android/local.properties
android/app/debug
android/app/profile
android/app/release
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
*.iml
*.ipr
*.iws
.idea/
.vscode/
